@charset "UTF-8";
@font-face {
    font-family: "Baby";
    src: url(../Fonts/BabyGirly.otf);
}
@font-face {
    font-family: "Please";
    src: url(../Fonts/PleaseWriteMeSong.ttf);
}
:root{
    --fonte_destaque: "Baby", cursive;
    --fonte_texto: "Please", cursiva;
}
body{
    /*background-color: rgb(210, 224, 165);*/
    /*background-color: rgb(187, 241, 255);*/
    background-image: linear-gradient(to bottom, rgb(187, 241, 255),rgb(255, 181, 152));
    margin: 0px;
    
}
header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1px;
    margin-bottom: 20px;
}
header p{
    margin: auto;
}
nav {
    max-width: 75%;
    border-radius: 10px;
    margin: auto;
}
nav .menu a{
    text-decoration: none;
    font-family: var(--fonte_texto);
    font-size: 1em;
    font-weight: bold;
    padding-left: 25px;
    padding-bottom: 15px;
    color: black;
}
nav .menu a:hover{
    color: rgb(0, 99, 124);
    text-align: center;
    transition-duration: .1s;
    text-decoration: none;
    font-family: var(--fonte_texto);
    font-weight: bold;
    border-radius: 10px;
}
nav img{
    padding-top: 40px;
    display: block;
    margin: auto;
    width: 10%;
/* também para fazer sobra em imagem
    -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.527));
*/
    filter: drop-shadow(0px 0px 8px rgb(255, 255, 255));
}
nav h1{
    font-family: var(--fonte_destaque), Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 3.8em;
    font-weight: lighter;
    text-align: center;
    margin: auto;
    width: 75%;
    text-shadow: 0px 0px 8px rgb(255, 255, 255);
    padding-top: 30px;
}
nav h2{
    font-family: var(--fonte_texto), Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1em;
    text-align: center;
    margin: auto;
    text-shadow: 0px 0px 5px rgba(255, 255, 255);
}
main {
    background-color: rgba(255, 255, 255, 0.534);
    margin-inline: auto;
    width: 55%;
    border-radius: 10px;
    box-shadow: 0px 0px 8px rgb(0, 0, 0);
    margin-top: 80px;
    margin-bottom: 80px;
    padding-bottom: 30px;
    padding-inline: 20px;
}
main .conteiner-principal{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}
main > h2{
    padding-top: 30px;
    margin-bottom: -15px;
    font-size: 2.5em;    
    text-align: center;
    font-family: "Please";
    font-weight: bold;
    letter-spacing: 1px;
}
main > h3{
    font-size: 1.4em;    
    text-align: center;
    font-family: "Please";
    letter-spacing: 2px;
}
main > p{
    font-size: 1.3em;
    text-indent: 40px;
    padding-inline: 30px;
    text-align: justify;
    line-height: 1.5em;
}
main a{
    font-family: "Please";
    font-weight: bold;
    text-decoration: none;
    text-indent: 40px;
    text-align: justify;
}
main a:hover{
    color: rgb(73, 167, 255);
    text-align: center;
    transition-duration: .1s;
    font-family: var(--fonte_texto);
    font-weight: bold;
    text-decoration: none;
    text-align: justify;
}
main .caixa{
    display: block;
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 5px 30px;
    margin-inline: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
main .caixa h2{
    font-family: var(--fonte_texto), Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    letter-spacing: 1px;
}
main .caixa h3{
    font-family: var(--fonte_texto), Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.3em;
    letter-spacing: 1px;
}
main .caixa ul{
    font-family: var(--fonte_texto), Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(0, 0, 0);
    font-size: 1.1em;
    margin-left: -10px;
    padding-bottom: 5px;
    letter-spacing: 1px;
}
main .aniversariantes{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-inline: 50px;
    margin-bottom: 50px;
}
main .aniversariantes h2{
    padding-bottom: 50px;
}
main .aniversariantes li{
    padding: 5px;
    font-family: var(--fonte_texto);
    font-weight: bold;
    letter-spacing: 1px;
}
main .redeSociais{
    display: block;
    font-size: 1.2em;
}
main .redeSociais li{
    padding: 15px;
}
main .aconselhamento{
    display: flex;
    justify-content: space-evenly;
}
legend{
    border: 1px solid dodgerblue;
    padding: 10px;
    text-align: center;
    background-color: dodgerblue;
    border-radius: 8px;
    font-size: 1.3em;   
    font-family: var(--fonte_texto);         
}
input{
    padding: 3px;
    padding-inline: 10px;
}
label{
    margin-right: 5px;
}
#conhecido{
    width: 100%;
}
#celular{
    width: 100%;
    text-align: right;
}
#whats{
    width: 100%;
}
#cep{
    width: 100%;
    text-align: right;
}
#cidade{
    width: 100%;
}
#bairro{
    width: 100%;
}
#rua{
    width: 100%;
}
#numero{
    width: 100%;
}
#complemento{
    width: 100%;
}
#mensagem{
    width: 100%;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 10px;
}
#submit{
    background-image: linear-gradient(to right,rgb(0, 92, 197), rgb(90, 20, 220));
    width: 100%;
    border: none;
    padding: 15px;
    color: white;
    font-size: 10px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 14px;
}
#submit:hover{
    background-image: linear-gradient(to right,rgb(0, 80, 172), rgb(80, 19, 195));
}
footer{
    background-color: black;
    color: white;
    text-align: center;
}
footer p{
    margin-top: 0px;
    margin-bottom: 0px;
}
.video{
    width: 700px;
}
.video-area{
    position: relative;
    
    padding: 0px 0px 56.25%;
}
.video-area iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}